@import "../main/parameters";

// .header {}
header{
    background: rgba(163, 147, 133, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        padding: 20px 0;
    }
}
.nav{

    &__item{
        display: inline-block;
        padding: 12px 20px;
    }
    &__link{
        color: $c-text;
        text-decoration: none;
    }
    
}