footer
    .container 
        .footer 
            a.footer__logo(href="index.html")
                img(src="./assets/imgs/footerLogo.png", alt="footerLogo")
            .footer-about
                ul
                    li
                        a.footer-about__link(href="#")  О компании
                    li
                        a.footer-about__link(href="catalog.html") Ювелирный каталог
                    li
                        a.footer-about__link(href="#") Доставка и оплата
                    li
                        a.footer-about__link(href="news.html") Новости
                    li
                        a.footer-about__link(href="#") Контакты
            .footer-products
                .footer-products__model
                    ul 
                        li
                            a.footer-products__link(href="#") Кольца
                        li
                            a.footer-products__link(href="#") Серьги
                        li
                            a.footer-products__link(href="#") Подвески
                .footer-products__material
                    ul
                        li
                            a.footer-products__link(href="#") Золото
                        li
                            a.footer-products__link(href="#") Серебро
                        li
                            a.footer-products__link(href="#") Бриллианты
                        li
                            a.footer-products__link(href="#") Коллекции
                        li
                            a.footer-products__link(href="#") Подарки
                .footer-products__rock
                    a.footer-products__link(href="#") Камни

            .footer-contact 
                .footer-contact__title Контакты
                .footer-contact__text
                    p г. Москва, БЦ «Синица Плаза» 2-я ул. Синичкина, 9 а, стр. 7
                    a(href="tel:") тел.: +7 499 372-60-84
                .footer-info
                    a.footer-info__tel(href="tel:") +7 499 391 45 79  
                .footer-info
                    a.footer-info__insta(href="https://www.instagram.com") Инстаграм
                .footer-info__write
                    a.footer-info__link(href="#") Написать нам
        .bottom © 2021 ДЕМЕТРА-САПФАЕРР


