header
    .container
        .header
            a.header__logo(href="#")
                img(src="../../assets/imgs/headerLogo.png", alt="headerLogo")
            .nav
                ul.nav__list
                    li.nav__item
                        a.nav__link(href="#") О компании
                    li.nav__item
                        a.nav__link(href="#") Каталог
                    li.nav__item
                        a.nav__link(href="#") Доставка
                    li.nav__item
                        a.nav__link(href="#") Новости
                    li.nav__item
                        a.nav__link(href="#") Контакты

            .header__icon
                a.header__heart(href="#")
                    img(src="../../assets/imgs/heart.svg", alt="")
                a.header__search(href="#")
                    img(src="../../assets/imgs/search.svg", alt="")
                a.header__search(href="#")
                    img(src="../../assets/imgs/shoppingCart.svg", alt="")