header
    .container
        .header
            a.header__menu(href="index.html")
                +icon('menu').icon--menu
            a.header__logo(href="index.html")
                +icon('headerLogo').logo
            .nav
                ul.nav__list
                    li.nav__item
                        a.nav__link(href="#") О компании
                    li.nav__item
                        a.nav__link(href="catalog.html") Каталог
                    li.nav__item
                        a.nav__link(href="#") Доставка
                    li.nav__item
                        a.nav__link(href="news.html") Новости
                    li.nav__item
                        a.nav__link(href="#") Контакты
            .header__icon
                a.header__heart(href="#")
                    +icon('heart').icon--heart
                a.header__search(href="#")
                    +icon('search').icon--search
                a.header__cart(href="#")
                    +icon('shoppingCart').icon--cart