extends layout/layout

block vars
    - var pageTitle = 'Diplom'
    - var pageBodyClass = 'aboutPage'
    - var pageHeaderClass = ''

block content 
    section 
        .container
            .about
                p.about__bread О компании
                h2.h2.about__title O компании
                .about__content 
                    .about__description
                        p.about__text Компания <b>DEMETRA-SAPPHIRE JEWELRY</b> появилась на российском ювелирном рынке в 2007 году. В начале своего пути мы специализировались на организации и расширении поставок эксклюзивных сапфиров из Шри-Ланки в Россию. Позже компания запустила собственное производство по созданию ювелирных изделий с драгоценными камнями. 
                        p.about__text В 2015 году было открыто представительство <b>DEMETRA-SAPPHIRE JEWELRY</b> в деловом центре JLT свободной экономической зоны Дубайской многопрофильной товарно-сырьевой биржи (DMCC) в Объединенных Арабских Эмиратах. Сегодня здесь представлена уникальная коллекция наших лучших сапфиров.
                        p.about__text Создавать украшения – значит дарить красоту и любовь тем, кто станет их обладателями. Мы целиком отдаемся творческому процессу, прилагаем максимум усилий, ведь только так можно достичь главной цели – претворить мечты в реальность.
                        p.about__text <b/>Украшения DEMETRA-SAPPHIRE JEWELRY актуальны всегда, они — вне времени!<b/>
                    
                    img.about__img(src="./assets/imgs/pictureRingAboutPage.png", alt="ring picture")

