extends layout/layout

block vars
    - var pageTitle = 'Diplom'
    - var pageBodyClass = 'deliveryPage'
    - var pageHeaderClass = ''

block content
    section.delivery 
        .container
            .delivery__content
                p.delivery__bread Оплата и доставка
                h2.h2.delivery__title Оплата и доставка
                p.delivery__info При оформлении заказа на сайте с вами свяжется менеджер онлайн-магазина.
                p.delivery__logo
                    img(src="./assets/imgs/SDEK.png", alt="delivery logo")
                p.delivery__text Доставка по всей территории России <br> включая МО осуществляется курьерской службой СДЭК.
                p.delivery__text Сроки доставки зависят от вашего региона.<br> От 2 до 10 дней.
                p.delivery__text При оформлении заказа менеджер <br> магазина проконсультирует Вас по срокам <br> и условиям доставки.
