extends layout/layout

block vars
    - var pageTitle = 'Diplom'
    - var pageBodyClass = 'homepage'
    - var pageHeaderClass = ''

block content
    //- здесь код страницы
    .header-content
        .container
            .header-index
                .header-index__null
                h1.header-index__title dementra sapphire lewelry
                p.header-index__text since 2007
                .header-index__slider 
                    a.header-index__link(href="#newCatalog") Лучшие ювелирные украшения 
                        img.header-index__img(src="../assets/imgs/bottomArrow.svg", alt="bottomArrow")
    section 
        .container
            .new-catalog
                h2.new-catalog__title.h2#newCatalog Новинки каталога
                .new-catalog__nav
                    ul.new-catalog__nav
                        li.new-catalog__item
                            a.new-catalog__link.activeclick(href="#") Кольца
                        li.new-catalog__item
                            a.new-catalog__link(href="#") Серьги
                        li.new-catalog__item
                            a.new-catalog__link(href="#") Подвески
                .product
                    +product({
                        img_src: "../assets/imgs/ring001.png",
                        new_price: "12 990 ₽",
                        old_price: "28 800 ₽",
                        description: "Кольцо из желтого золота с родированием с бриллиантом",
                        material: "Желтое золото, 585° Вставки: бриллианты Вес: 2,27 г"
                    })
                    +product({
                        img_src: "../assets/imgs/ring002.png",
                        new_price: "10 750 ₽",
                        old_price: "25 500 ₽",
                        description: "Кольцо из желтого золота с родированием с бриллиантом",
                        material: "Желтое золото, 585° Вставки: бриллианты Вес: 2,27 г"
                    })
                    +product({
                        img_src: "../assets/imgs/ring003.png",
                        new_price: "7 490 ₽",
                        old_price: "19 250 ₽",
                        description: "Кольцо из желтого золота с родированием с бриллиантом",
                        material: "Белое золото, 585° Вставки: бриллианты Вес: 2,27 г"
                    })
                    +product({
                        img_src: "../assets/imgs/ring004.png",
                        new_price: "9 990 ₽",
                        old_price: "8 800 ₽",
                        description: "Кольцо из желтого золота с родированием с бриллиантом",
                        material: "Белое золото, 585° Вставки: бриллианты Вес: 2,27 г"
                    })
                
                    

                a.new-catalog__btn(href="#") Перейти в каталог
    section 
        .container
            .insta
                h2.h2.insta__title Мы в Instagram
                .insta__icons
                    mixin insta-icon(arg={})
                        .insta-icon
                            img.insta-icon__img(src=arg.src_img, alt="insta-icon")
                            .insta-icon__num=arg.src_num
                            .insta-icon__text=arg.src_text 
                    +insta-icon({
                        src_img: "../assets/imgs/instaIcon01.svg",
                        src_num: "24",
                        src_text: "post"
                    })
                    +insta-icon({
                        src_img: "../assets/imgs/instaIcon02.svg",
                        src_num: "1,520",
                        src_text: "followers"
                    })
                    +insta-icon({
                        src_img: "../assets/imgs/instaIcon03.svg",
                        src_num: "66",
                        src_text: "following"
                    })
            
                .insta__product
                    .insta__content
                        img.insta__img(src="../assets/imgs/instaImg01.jpg", alt="InstaImg")
                    .insta__content
                        img.insta__img(src="../assets/imgs/instaImg02.jpg", alt="InstaImg")
                    .insta__content
                        img.insta__img(src="../assets/imgs/instaImg03.jpg", alt="InstaImg")
                    .insta__content
                        img.insta__img(src="../assets/imgs/instaImg04.jpg", alt="InstaImg")
                    .insta__content
                        img.insta__img(src="../assets/imgs/instaImg05.jpg", alt="InstaImg")
                    .insta__content
                        img.insta__img(src="../assets/imgs/instaImg06.jpg", alt="InstaImg")
                
                //.insta-btn                                                        
                a.insta-btn(href="#")
                        //img.insta-btn__icon(src="../assets/imgs/Instagram.svg", alt="Instagram")                  
                        .insta-btn__text Подписаться                